

*{
    margin:0 auto;
    padding:0;
}

.wrap{
    width:450px;
    height:800px;
    background: #fcd80d;
    position: relative;
    
}
/*header*/
.header{
    width:450px;
    height:75px;
    background: #1b1b1e;
    color: #b6b6b9;
}
.header-top{
    height:0px;
    text-align: center;
}
.header-bottom-left{

    float:left;
}
.header-bottom-right{
    float:right;
}

.slogan{
    width:300px;
    height:60px;
}

.slogan-img{
    position:absolute;
    left:180px;
    top:230px;
    width:80px;
    height:80px;
    border-radius:50%;
    border:3px solid #fdd70e;
}
.slogan-con{
    margin-top:20px;
    font-size:22px;
    text-align:center;
   
}



/*content */
.content{
    width:450px;
    height:635px;
    margin-bottom:10px; 
}

.content-form{
    width:410px;
    margin-left:20px;
    

}
.form-group{
    width:410px;
    height:55px;
    margin-top:15px;
    border-width: 0;
    border-radius:10px;
    overflow: hidden;
    


}

.input-top{
    background: #ffffff;
    width:396px;
    height:55px;
    font-size: 20px;
    padding-left:10px;
    border-width:0;
    
}
.input-bottom{
    width:284px;
    height:55px;
    font-size:20px;
    padding-left:10px;
    background:#ffffff;
    float:left;
    border-width:0;
    
    

}
.btn{
    float:right;
    width:110px;
    height:55px;
    font-size:15px;
    background:#f50008;
    border-width:0;
}
.sub{
   background:#f50008;
   height:55px;
   width:410px;
   font-size:25px;
   border-width:0;
}


.content-msg{
    width:385px;
    height:150px;
    border-style: solid;
    border-color:#1b1b1b;
    margin-top:20px;
    margin-left:20px;
    padding: 5px 10px;
    font-size:17px;

}

 /* download */

a{
   text-decoration: none;
}

.download{
    width:450px;
    height: 90px;
    position:fixed;
    left:0;
    bottom:0;
    right:0; 
    background: #fffdf1;

}


.download-icon{
    width:75px;
    height:75PX;
    float:left;
    margin-top:8px;
    margin-right:20px;
    padding-left:20px;
}
.download-title{
    font-size:25px;
    padding-top:15px;
    padding-bottom:10px;
    color:#fe928f;
    font-weight:400;
    height:25px;

    
}
.download-con{
    color:#999;
    font-size:17px;
    font-weight:400;
    
}
.download-btn{
    position:absolute;
    bottom:20px;
    right:20px;
    width:80px;
    height:45px;
    border:2px solid ;
    border-radius:25px;
    text-align:center;
    color:#fe928f; 
    line-height:45px;
    border-color:#fe928f;
} 


